.container
    width: 100vw

    display: flex
    flex-direction: column

    justify-content: center
    align-items: center

    border-bottom: 1px solid #cccccc56
    position: fixed
    
    background: white
    height: 65px
    z-index: 500
    

    .menu
        display: flex
        flex-direction: column

        justify-content: center
        align-items: center
        p
            font-size: .875rem
            line-height: 1.25rem
            font-weight: 400
            color: #11111192
            padding: 6px
            margin: 5px 0 0 0
            width: 80%
            transition: .5s
            font-family: "Inter", sans-serif
            border-radius: 5px

    .overlay
        width: 100vw
        height: 200vh
        background: rgba(111, 111, 111, 0.5)
        backdrop-filter: blur(5px)
        z-index: 200
        position: absolute

    .popUp
        z-index: 200
        

        width: 728px
        height: 32px

        padding: 8px
        border-radius: 5px
        border: none
        box-shadow: 0px 0px 28px -10px rgba(0,0,0,0.75)

        font-family: "Inter", sans-serif
        font-size: 17px
        color: #00000092

        margin-top: 100px

        &::placeholder
            color: #38383892

        &:focus
            outline: none
            border: none



    .findBlock
        width: 696px
        height: 20px

        padding: 0 24px 24px 24px
        background: white
        border-radius: 0 0 5px 5px 
        z-index: 1000   

        position: absolute
        margin-top: 700px
        font-family: "Inter", sans-serif

        border-top: 1px solid #cccccc56
        height: 500px

        overflow-y: scroll

        .block
            font-family: "Inter", sans-serif
            
            .mainTitle
                font-size: 15px
                font-weight: 600
                transition: .3s
                margin: 0
                padding-top: 15px
                font-family: "Inter", sans-serif
                cursor: pointer
                padding-bottom: 15px

                &:hover
                    background: #a7a7a72d
                    transition: .3s

            .subBlock
                border-left: 1px solid #cccccc56
                display: flex
                flex-direction: column
                
                &:hover
                    background: #a7a7a72d
                    transition: .3s
                a
                    text-decoration: none
                    margin: 0
                    padding: 15px 0 15px 15px

                .title
                    color: #696969
                    cursor: pointer
                    padding-bottom: 0

                .content
                    color: #474747
                    cursor: pointer
                    font-size: 14px
                    line-height: 22px



            


    .innerContainer
        width: 95%
        height: 65px
        display: flex
        flex-direction: row

        justify-content: space-between
        align-items: center

        .logo
            display: flex
            flex-direction: row

            justify-content: center
            align-items: center

            gap: 20px

            .logotype
                width: 50px


        .burgerMenu
            display: none
            width: 15px

        button
            width: 224px
            height: 40px
            padding: 0 15px 0 15px

            border-radius: 7px
            border: none

            display: flex
            flex-direction: row

            justify-content: flex-start
            align-items: center

            font-family: Arial, Helvetica, sans-serif
            font-size: 1rem

            font-weight: 400
            color: #00000087

            border: 0.5px solid #11111117
            cursor: pointer
            img
                width: 16px
                padding-right: 10px
                margin-top: -2px
                opacity: 0.5


@media screen and ( max-width:  760px)
    .container
        .innerContainer

            .burgerMenu
                display: flex
                margin-top: 3px
            
            button
                width: 40px
                padding: 0

                justify-content: center

                span
                    display: none

                img
                    margin-top: 0
                    padding: 0

        .popUp, .findBlock
            width: 90%
            padding: 10px